/***********************************************
Top bar color 
***********************************************/

html {
	border-top: 20px solid #8A85A5;
}



/***********************************************
Body styling 
***********************************************/

body {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 20px;
	font-size: 1.3em;
	line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
	color: #777;
	font-weight: 300;
}



/***********************************************
Image styling 
***********************************************/

img {
	border-radius: 50%;
	max-width: 340px;
}



/***********************************************
Headline styling 
***********************************************/
h1 {
	font-size: 1.5em;
	line-height: .5em;
	color: #564581;
}

h2 {
	font-size: 1em;
	line-height: 1em;
	font-style: oblique;
	color: #aaa;

}

h3 {
	font-size: .875em;
	line-height: 1em;
	font-weight: normal;
}

h4 {
	margin-top: 60px;
	font-weight: 500;
  color: #564581;
}
